.accordion {
    .card {
        background-color: #404040;
        border: 1px solid #4e4e4e;

        .card-header {
            background-color: #343434;
            transition: all 0.25s ease;

            &:hover {
                background-color: #2b2b2b;
            }
        }
    }
}