html {
    height: 100%;
    width: 100%;
}

body {
    background-color: $bg-color;
    color: whitesmoke;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
    max-width: 100%;
}

.page-with-navbar {
    height: calc(100% - 60px);
}

.nav-link {
    transition: all 0.25s linear;
}