$bg-color: #191B1C;
$dark-color: #343A40;
$primary-color: #007bff;
$success-color: #28a745;
$danger-color: #DC3545;
$light-color: #F8F9FA;
$sun-color: #FFE321;
$moon-color: #96C8FF;

.sun-color {
    color: $sun-color
}

.moon-color {
    color: $moon-color;
}