input::placeholder {
    font-style: italic !important;
}

.btn {
    transition: all 0.25s linear !important;
}

.form-control {
    transition: background-color 0.25s linear;
    &:disabled, &[readonly] {
        background-color: #D6D3D3 !important;
        opacity: 1;
    }
}

.input-group-prepend {
    &.is-valid {
        .input-group-text {
            border-color: $success-color;
            color: $success-color;
        }
    }
    &.is-invalid {
        .input-group-text {
            border-color: $danger-color;
            color: $danger-color;
        }
    }
}

.input-error {
    min-height: 25px;
}

.form-group {
    margin-bottom: 0.5rem;
}