.modal-content {
    border-color: $dark-color;
    background-color: $bg-color;
    .modal-header {
        border-bottom-color: $dark-color;
    }
    .modal-footer {
        border-top-color: $dark-color;
    }
}

.modal-backdrop.blur.show {
    opacity: 1;
}