$scrollbar-color: rgba(234, 234, 234, 0.5);
$scrollbar-background-color: #1A1C1D;

.visible-scrollbar {
    scrollbar-color: $scrollbar-background-color $scrollbar-color;

    &::-webkit-scrollbar {
        width: 3px;
        background-color: $scrollbar-background-color;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 2px;
        background: $scrollbar-color;
    }
}