// FADE
.fade-enter-active, .fade-leave-active {
    transition: opacity .25s linear;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}

//FADEIN

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fade-in {
    -webkit-animation-name: fade-in;
    animation-name: fade-in;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
}

.fade-in-enter-active {
    transition: opacity .5s;
}

.fade-in-enter, .fade-leave-to {
    opacity: 0;
}

// TRANSLATE DOWN FADE
.translate-down-fade-enter-active, .translate-down-fade-leave-active {
    transition: all .30s ease;
}

.translate-down-fade-enter, .translate-down-fade-leave-to {
    opacity: 0;
    transform: translateY(15px);
}

// FLIP LIST MOVE
.flip-list-move {
    transition: transform 1s;
}

.player-item {
    transition: all 0.5s;
}
.player-item-enter, .player-item-leave-to {
    opacity: 0;
}
.player-item-leave-active {
    position: absolute !important;
}

// FADE LIST

.fade-list {
    transition: all 0.5s;
}
.fade-list-enter, .fade-list-leave-to {
    opacity: 0;
}
.fade-list-leave-active {
    position: absolute !important;
}