// FADE
.fade-enter-active, .fade-leave-active {
    transition: opacity .25s linear;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}


//FADEIN

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fade-in {
    -webkit-animation-name: fade-in;
    animation-name: fade-in;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
}

.fade-in-enter-active {
    transition: opacity .5s;
}

.fade-in-enter, .fade-leave-to {
    opacity: 0;
}
