.v-select {
    width: 100%;
}

.vs__dropdown-menu {
    color: grey;
}

.vs__dropdown-toggle {
    border-color: #707070;
    caret-color: white;
    color: white;
}

.vs__selected {
    color: white;
}

.vs__clear {
    fill: #BABABA;
}

.vs__open-indicator {
    fill: #BABABA;
}

.vs__search {
    color: white
}

.vs__selected-options {
    flex-wrap: nowrap;
    max-width: calc(100% - 41px);
}

.vs__selected {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
    overflow: hidden;
}

.vs--open .vs__search {
    position: static;
}

.vs__dropdown-option {
    white-space: normal;
}