@import "colors";

.v-select {
    width: 100%;
}

.vs__dropdown-menu {
    background-color: $bg-color;
    border: 1px solid $dark-color;
    max-height: 170px;
    overflow-y: scroll;
    @extend .visible-scrollbar;

    .vs__dropdown-option {
        color: white !important;
        caret-color: white;
    }
}

.vs__dropdown-toggle {
    border-color: $dark-color;
    caret-color: white;
    color: white;
}

.vs__selected {
    color: white;
}

.vs__clear {
    fill: #BABABA;
}

.vs__open-indicator {
    fill: #BABABA;
}

.vs__search {
    color: white
}

.vs__selected-options {
    //flex-wrap: nowrap;
    max-width: calc(100% - 44px);
}

.vs__selected {
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
    overflow: hidden;
    color: white;
    background-color: $bg-color;
}

 .vs__deselect {
     fill: rgba(255, 255, 255, 0.69);
 }

.vs--open .vs__search {
    position: static;
}