img[lazy="error"] {
    opacity: 0;
    -webkit-animation-name: fade-in;
    animation-name: fade-in;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-direction: normal;
    animation-timing-function: ease-out;
}

img[lazy="loading"] {
    opacity: 0;
    -webkit-animation-name: fade-in;
    animation-name: fade-in;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-direction: normal;
    animation-timing-function: ease-out;
}

img[lazy="loaded"] {
    opacity: 0;
    -webkit-animation-name: fade-in;
    animation-name: fade-in;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-direction: normal;
    animation-timing-function: ease-out;
}