.vue-back-to-top {
    border: 1px solid #4c4c4c;
    border-radius: 40px;
    background-color: #4f4f4f;
    padding: 5px 15px 5px;

    &:hover {
        background-color: #3e3e3e;
        border-color: #3e3e3e;
    }
}